configs/
saved_models/*
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Rocket-League-Bot.iml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
!*saved_models/3900-online
!*saved_models/3900-target
